@model TaskManager.Models.Ta.CreateTaskModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @ViewBag.Error
        </div>
    }
    @using (Html.BeginForm("Create", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        
        <div class="form-group">

            @Html.LabelFor(m => m.NodeId)
            @Html.ValidationMessageFor(m => m.NodeId)
            @*@Html.TextBoxFor(m => m.NodeId)*@
            @Html.DropDownListFor(m => m.NodeId, Model.Nodes)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Cron)
            @Html.ValidationMessageFor(m => m.Cron)
            @Html.TextBoxFor(m => m.Cron)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.ClassName)
            @Html.ValidationMessageFor(m => m.ClassName)
            @Html.TextBoxFor(m => m.ClassName)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.MethodName)
            @Html.ValidationMessageFor(m => m.MethodName)
            @Html.TextBoxFor(m => m.MethodName)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Remark)
            @Html.ValidationMessageFor(m => m.Remark)
            @Html.TextBoxFor(m => m.Remark)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.File)
            @Html.ValidationMessageFor(m => m.File)
            <input type="file" name="File" accept="application/x-zip-compressed" />
        </div>
        
        <button class="btn btn-primary" type="submit">Create</button>
    }
</div>
