@using TaskManager.Helper.CustomHtmlHelper
@using TaskManager.LogicEntity;
@using TaskManager.LogicEntity.Entities;
@model TmProcessResult<PagedList<TaskManager.Models.Dev.NodeItemViewModel>>
@{
    ViewBag.Title = "节点列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>节点列表</h2>

@if (Model.HasError)
{
    <h3>Error:@Model.Error.Message</h3>
}
else
{
    <div class="row">
        <div class="col-md-2">
            @Html.RouteLink("创建节点", "NodeCreate", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
    
    <table class="table table-striped table-hover">
        <thead>
            <th>节点名称</th>
            <th>节点IP</th>
            <th>节点监听端口</th>
            <th>节点创建时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
            @foreach (var node in @Model.Data)
            {
                <tr>
                    <td>@Html.RouteLink(node.Name, "Node", new { nodeId = node.Id }, new { })</td>
                    <td>@node.IP</td>
                    <td>@node.Port</td>
                    <td>@node.CreateTime</td>
                    @if (node.LatestHeartBeat.HasValue)
                    {
                        if ((DateTime.Now - node.LatestHeartBeat.Value).TotalSeconds < 5 * 60)
                        {
                        <td style="color: green">Online</td>
                        }
                        else
                        {
                        <td style="color: red">Offline</td>
                        }
                    }
                    else
                    {
                        <td style="color: red">Offline</td>
                    }
                    <td>
                        <a href="#" data-toggle="modal" data-target="#@string.Format("tDeleteModal-{0}", node.Id)">删除</a>
                        <div id="@string.Format("tDeleteModal-{0}", node.Id)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@string.Format("tDeleteModalLabel-{0}", node.Id)">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    @using (Html.BeginRouteForm("NodeDelete", FormMethod.Post, null))
                                    {
                                        @Html.Hidden("nodeId", node.Id)

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="@string.Format("tDeleteModalLabel-{0}", node.Id)">删除节点
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            确定要 <em>删除节点</em> <strong>@node.Name</strong> ？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button class="btn btn-primary" type="submit">确定</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @Html.PageLinks(@Model.Data, x => Url.Action("Index", new { pageIndex = x }))
    </ul>
}